extends ../head

block append scripts
    // подключаем скрипт
    script(src="/js/scriptAddAttendance.js")

block content
    .container.mt-4
        h2.text-center Добавить отметку посещаемости

        form(action="/addAttendanceMark", method="POST", class="mb-4")
            .mb-3
                label(for="student_group_id") Выберите группу
                select(name="student_group_id" id="student_group_id", class="form-select", required)
                    each el in studentGroups
                        option(value=el.id) #{el.name}
            .mb-3
                label(for="date_pair") Дата занятий
                input(name="date_pair" id="date_pair" type="date" class="form-control" required)

            div(id="attendance_table_id", class="mt-3")
                // Здесь будет динамически добавляемая таблица

            .text-center
                input.btn.btn-primary(type="submit" value="Добавить")
