extends ../head

block content
    .container.mt-4
        h2.text-center Обновить информацию о дисциплине

        // Форма обновления
        form(action="/updateDiscipline/" + discipline.id, method="POST", class="mb-4")
            .mb-3
                label(for="name") Название дисциплины
                input(name="name" type="text" class="form-control" placeholder="Название дисциплины" value=discipline.name required)
            .text-center
                input.btn.btn-primary(type="submit" value="Обновить")

        // Форма удаления
        form(action="/deleteDiscipline/" + discipline.id, method="POST", class="text-center")
            input.btn.btn-danger(type="submit" value="Удалить")
