extends ../head

block content
    .container.mt-4
        h1.text-center.mb-4 Добавить дисциплину
        a(href="/addDiscipline" class="btn btn-success mb-3") Добавить дисциплину
        .list-group
            each el in disciplines
                li(class="list-group-item d-flex justify-content-between align-items-center")
                    a(href="/discipline/" + el.id class="text-decoration-none") #{el.name}
                    
