extends ../head

block content
    .container.mt-4
        h2.text-center Добавить дисциплину к преподавателю
        form(action="/addDisciplineTeacher" method="POST" class="form-group")
            .mb-3
                label(for="discipline_id") Дисциплина
                select(name="discipline_id" class="form-select" required)
                    each el in disciplines
                        option(value=el.id) #{el.name}
            .mb-3
                label(for="teacher_id") Преподаватель
                select(name="teacher_id" class="form-select" required)
                    each el in teachers
                        option(value=el.id) #{el.name}
            .text-center
                input.btn.btn-primary(type="submit" value="Добавить")
