extends ../head

block content
    .container.mt-4
        h1.text-center.mb-4 Добавить дисциплину для преподавателя
        a(href="/addDisciplineTeacher" class="btn btn-primary mb-3") Добавить новую запись
        table.table.table-bordered.table-striped
            thead(thead-light)
                tr
                    th №
                    th Дисциплина
                    th Преподаватель
                    th Действие
            tbody
                - var i = 1;
                each el in disciplineTeacher
                    tr
                        td #{i}
                        td #{el.discipline_name}
                        td #{el.teacher_name}
                        td
                            form(action="/deleteDisciplineTeacher/disciplineId=" + el.discipline_id + "/teacherId=" + el.teacher_id, method="POST" class="d-inline")
                                button(type="submit" class="btn btn-danger btn-sm") Удалить
                    - i++
